<div class="home">

    <!-- Barra de Navegación en Home -->
  <nav class="home-nav">
    <a routerLink="/home">Home</a>
    <a routerLink="/about">About</a>
    <a (click)="toContact()">Contact</a>
  </nav>

    <!-- Banner -->
    <div class="banner">
      <h1>Bienvenido a nuestra tienda</h1>
      <p>Encuentra los mejores productos aquí.</p>
    </div>
  
    <!-- Contenedor de productos -->
    <div class="products">
      <h2>Productos Destacados</h2>
      <div class="product-container">
        <div class="product-card">
          <h3>Producto 1</h3>
          <p>Descripción breve del producto 1.</p>
        </div>
        <div class="product-card">
          <h3>Producto 2</h3>
          <p>Descripción breve del producto 2.</p>
        </div>
        <div class="product-card">
          <h3>Producto 3</h3>
          <p>Descripción breve del producto 3.</p>
        </div>
        <div class="product-card">
          <h3>Producto 4</h3>
          <p>Descripción breve del producto 4.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="footer">
    <p>© 2024 Mi Tienda. Todos los derechos reservados.</p>
  </footer>
  